//main container includes series list and favourites

.main_series--container {
  width: 100%;
  height: 100vh;

  display: flex;

  flex-direction: column;
}
.favourite_check {
  background-color: royalblue;
  border: 2px solid rgb(6, 34, 118);
}
.standart_item {
  background-color: rgb(226, 212, 105);
  border: 1px solid rgb(187, 173, 66);
}
